In [1]:
import os, sys
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath('application/'))))

In [2]:
from application.models import User
from application.applied_science import data_utils as du
import datetime as dt

USING VARIABLE LOCAL

In [7]:
# job to create tables
start_time_utc  = dt.datetime.now() - dt.timedelta(weeks=14)
end_time_utc = dt.datetime.now() - dt.timedelta(weeks=13)
users_list = User.query.all()
user_datas = []
for user in users_list:
  if user.fully_authenticated:
    user_data = du.collaboration_activity_data_for_given_period(user, start_time_utc, end_time_utc)
    user_datas.append(user_data)

In [8]:
users_list[0]

User('kushthaker','kushthaker@gmail.com','default.jpg')

In [16]:
user_datas[0].loc[(user_datas[0]['google_calendar_event_count'] > 0)]

,datetime_utc,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,in_meeting
2019-11-14 17:30:00,2019-11-14 17:30:00,0.0,0.0,4738.0,1,1
2019-11-14 17:35:00,2019-11-14 17:35:00,0.0,0.0,4738.0,1,1
2019-11-14 17:40:00,2019-11-14 17:40:00,0.0,0.0,4738.0,1,1
2019-11-14 17:45:00,2019-11-14 17:45:00,0.0,0.0,4738.0,1,1
2019-11-14 17:50:00,2019-11-14 17:50:00,0.0,0.0,4738.0,1,1
...,...,...,...,...,...,...
2019-11-21 01:35:00,2019-11-21 01:35:00,0.0,0.0,4751.0,1,1
2019-11-21 01:40:00,2019-11-21 01:40:00,0.0,0.0,4751.0,1,1
2019-11-21 01:45:00,2019-11-21 01:45:00,0.0,0.0,4751.0,1,1
2019-11-21 01:50:00,2019-11-21 01:50:00,0.0,0.0,4751.0,1,1
2019-11-21 01:55:00,2019-11-21 01:55:00,0.0,0.0,4751.0,1,1

In [ ]:
from application.models import GoogleCalendarEvent

In [ ]:
gce1 = GoogleCalendarEvent.query.filter(GoogleCalendarEvent.id == 4851).first()
gce1

In [ ]:
import json
json.loads(gce1.json_data)

In [ ]:
du.collaboration_activity_data_for_given_period?

In [ ]:
dt.datetime