In [5]:
import os, sys
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath('application/'))))

In [35]:
from application.models import User, GoogleCalendarEvent, GoogleCalendarUser, SlackUser
from application.applied_science import data_utils as du
import datetime as dt
from application.applied_science import data_annotation as da
import pandas as pd
import numpy as np

In [11]:
user = User.query.filter(User.fully_authenticated).first()
user

User('bonbon','bonbon@gmail.com','default.jpg')

In [14]:
activity_df = da.get_activity_report_df(user)
activity_df.index = activity_df.datetime_utc
activity_df

,id,datetime_utc,user_id,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count
datetime_utc,,,,,,,
2020-03-01 05:00:00,38098,2020-03-01 05:00:00,49,0,0,NaN,0
2020-03-01 05:05:00,38099,2020-03-01 05:05:00,49,0,0,NaN,0
2020-03-01 05:10:00,38100,2020-03-01 05:10:00,49,0,0,NaN,0
2020-03-01 05:15:00,38101,2020-03-01 05:15:00,49,0,0,NaN,0
2020-03-01 05:20:00,38102,2020-03-01 05:20:00,49,0,0,NaN,0
...,...,...,...,...,...,...,...
2020-03-08 04:35:00,40109,2020-03-08 04:35:00,49,0,0,NaN,0
2020-03-08 04:40:00,40110,2020-03-08 04:40:00,49,0,0,NaN,0
2020-03-08 04:45:00,40111,2020-03-08 04:45:00,49,0,0,NaN,0
2020-03-08 04:50:00,40112,2020-03-08 04:50:00,49,0,0,NaN,0
2020-03-08 04:55:00,40113,2020-03-08 04:55:00,49,0,0,NaN,0

In [368]:
s = dt.datetime.utcnow()
sample_df['focused_periods'] = focused_work_calculation(sample_df, sample_collab_func, periods_for_refocus=2)
e = dt.datetime.utcnow()
e - s

datetime.timedelta(0, 15, 782606)

In [372]:
# notna_focus_periods_df = sample_df.loc[sample_df['focused_periods'].notnull()]
# notna_focus_periods_df.loc[notna_focus_periods_df['datetime_utc'] - notna_focus_periods_df['focused_periods'] > dt.timedelta(minutes=5)]
sample_df.loc[
  sample_df['focused_periods'].notnull()
  & ((sample_df['datetime_utc'] - sample_df['focused_periods']) \
     > dt.timedelta(minutes=60))
]

,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,datetime_utc,focused_periods
2020-03-07 05:00:00,2,1,NaN,0,2020-03-07 05:00:00,2020-03-07 03:50:00
2020-03-07 08:30:00,2,0,3824.0,1,2020-03-07 08:30:00,2020-03-07 07:20:00
2020-03-07 13:15:00,0,0,4162.0,1,2020-03-07 13:15:00,2020-03-07 12:10:00
2020-03-07 20:40:00,1,0,3606.0,1,2020-03-07 20:40:00,2020-03-07 19:00:00
2020-03-12 13:50:00,0,0,2103.0,1,2020-03-12 13:50:00,2020-03-12 12:45:00
2020-03-12 21:00:00,0,0,4842.0,1,2020-03-12 21:00:00,2020-03-12 19:55:00

In [355]:
fps = notna_focus_periods_df['focused_periods']

2020-03-06 06:35:00                   NaT
2020-03-06 06:40:00                   NaT
2020-03-06 06:45:00                   NaT
2020-03-06 06:50:00   2020-03-06 06:40:00
2020-03-06 06:55:00                   NaT
                              ...
2020-03-06 22:55:00   2020-03-06 22:50:00
2020-03-06 23:00:00                   NaT
2020-03-06 23:05:00   2020-03-06 23:00:00
2020-03-06 23:10:00                   NaT
2020-03-06 23:15:00                   NaT
Name: focused_periods, Length: 201, dtype: datetime64[ns]

In [366]:
def random_number_of_slack_sends_or_reads(p_no_message=0.5):
  if np.random.uniform() > p_no_message:
    return np.int(np.random.exponential(1.5) + 0.5)
  return 0
  
def random_meeting_id():
  in_meeting = np.random.pareto(2) > 1
  return np.int(np.random.uniform(1000, 5000)) if in_meeting else None

def random_meeting_count(meeting_id=None):
  if meeting_id:
    if np.random.uniform() > 0.96:
      return 2
    return 1
  return 0
  
  
DF_COLUMN_KEY = {
  du.SLACK_CONVERSATION_READ_COLUMN_NAME: random_number_of_slack_sends_or_reads,
  du.SLACK_USER_EVENT_COLUMN_NAME: random_number_of_slack_sends_or_reads,
  du.GOOGLE_CALENDAR_EVENT_ID_COLUMN_NAME: random_meeting_id,
  du.GOOGLE_CALENDAR_EVENT_COUNT_COLUMN_NAME: random_meeting_count 
}

def date_range(size, interval=dt.timedelta(minutes=5), start=None):
  start = du.rounddown_next_5min(dt.datetime.utcnow()) if (not start) else start
  datetimes = [start]
  next_datetime = start
  for _ in range(size):
    next_datetime = next_datetime + interval
    datetimes.append(next_datetime)
  return datetimes

def insert_streak(length=8):
  vals = []
  for _ in range(length):
    values = {}
    for cn in DF_COLUMN_KEY.keys():
      values[cn] = 0
    values[du.GOOGLE_CALENDAR_EVENT_ID_COLUMN_NAME] = None
    vals.append(values)
  return vals
def generate_sample_data(number_of_periods=50):
  datetime_index = pd.Index(date_range(number_of_periods))
  df_list = []
  for _ in datetime_index:
    if (len(df_list) > 8) & (np.random.uniform() > 0.98):
      df_list[-7:] = insert_streak()
    else:
      values = {}
      for cn in DF_COLUMN_KEY.keys():
        values[cn] = DF_COLUMN_KEY[cn]()
      values[du.GOOGLE_CALENDAR_EVENT_COUNT_COLUMN_NAME] = DF_COLUMN_KEY[du.GOOGLE_CALENDAR_EVENT_COUNT_COLUMN_NAME]\
                            (values[du.GOOGLE_CALENDAR_EVENT_ID_COLUMN_NAME])
      df_list.append(values)
  df = pd.DataFrame(df_list, index=datetime_index)
  df['datetime_utc'] = df.index
  return df

sample_df = generate_sample_data(2000)
sample_df

,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,datetime_utc
2020-03-06 07:50:00,0,0,NaN,0,2020-03-06 07:50:00
2020-03-06 07:55:00,0,0,4921.0,1,2020-03-06 07:55:00
2020-03-06 08:00:00,0,0,NaN,0,2020-03-06 08:00:00
2020-03-06 08:05:00,0,0,NaN,0,2020-03-06 08:05:00
2020-03-06 08:10:00,0,2,NaN,0,2020-03-06 08:10:00
...,...,...,...,...,...
2020-03-13 06:10:00,0,0,NaN,0,2020-03-13 06:10:00
2020-03-13 06:15:00,0,1,NaN,0,2020-03-13 06:15:00
2020-03-13 06:20:00,0,3,1379.0,1,2020-03-13 06:20:00
2020-03-13 06:25:00,0,0,2727.0,1,2020-03-13 06:25:00
2020-03-13 06:30:00,0,0,NaN,0,2020-03-13 06:30:00

In [253]:
sample_df.loc[]

DatetimeIndex(['2020-03-06 06:20:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               ...
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00',
               '2020-03-06 06:25:00', '2020-03-06 06:25:00'],
              dtype='datetime64[ns]', length=201, freq=None)

In [259]:
sdfh = sample_df.head(20)
sdfh.first('5Min')

,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,datetime_utc
2020-03-06 06:35:00,0,3,4783.0,1,2020-03-06 06:35:00

In [256]:
sdfh.first('1s')

,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,datetime_utc
2020-03-06 06:20:00,2,4,NaN,0,2020-03-06 06:20:00

In [279]:
idx = sample_df.loc[sample_df[du.GOOGLE_CALENDAR_EVENT_COUNT_COLUMN_NAME] > 10].first('5min').index

In [314]:
next(iter([1, 2]), None)

1

In [611]:
sample_df

,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,datetime_utc
2020-03-06 07:50:00,0,0,NaN,0,2020-03-06 07:50:00
2020-03-06 07:55:00,0,0,4921.0,1,2020-03-06 07:55:00
2020-03-06 08:00:00,0,0,NaN,0,2020-03-06 08:00:00
2020-03-06 08:05:00,0,0,NaN,0,2020-03-06 08:05:00
2020-03-06 08:10:00,0,2,NaN,0,2020-03-06 08:10:00
...,...,...,...,...,...
2020-03-13 06:10:00,0,0,NaN,0,2020-03-13 06:10:00
2020-03-13 06:15:00,0,1,NaN,0,2020-03-13 06:15:00
2020-03-13 06:20:00,0,3,1379.0,1,2020-03-13 06:20:00
2020-03-13 06:25:00,0,0,2727.0,1,2020-03-13 06:25:00
2020-03-13 06:30:00,0,0,NaN,0,2020-03-13 06:30:00

In [607]:
def sample_collab_func(mini_df, pfr=1, ipl=1, misa=1, mira=1):
  slack_read_col = mini_df[du.SLACK_CONVERSATION_READ_COLUMN_NAME]
  slack_send_col = mini_df[du.SLACK_USER_EVENT_COLUMN_NAME]
  cal_event_count_col = mini_df[du.GOOGLE_CALENDAR_EVENT_COUNT_COLUMN_NAME]
  interruptions = mini_df.head(ipl).loc[
    (slack_read_col.head(ipl) > mira)
    | (slack_send_col.head(ipl) > misa) | (cal_event_count_col.head(ipl) > 0)
  ]
  interruption_dt = next(iter(interruptions.datetime_utc), None)

  if(len(mini_df.head(pfr).loc[
    (slack_read_col.head(pfr) > mira)
    | (slack_send_col.head(pfr) > misa)
    | (cal_event_count_col.head(pfr) > 0)]) == 0):
    refocus_dt = mini_df.head(pfr).datetime_utc[-1]
  else:
    refocus_dt = None
  return interruption_dt, refocus_dt

def focused_work_calculation(df, collab_func=None, df_size=None, **kwargs):  
  # keeping track of state across looks
  streak = pd.Series(index=df.index) # needs to be pandas._libs.tslibs.timestamps.Timestamp series
  streak_start = None
  in_streak = False
  if not df_size:
    df_size=max(kwargs.values())
  
  def get_streak(mini_df):
    nonlocal streak, streak_start, kwargs
    
    interrupt_time, refocus = collab_func(mini_df, **kwargs)
  # no streak, not interrupted
    if (not streak_start) & (refocus is not None):
      streak_start = refocus
    # streak, interrupted
    elif (streak_start is not None) & (interrupt_time is not None):
      streak[interrupt_time] = streak_start
      streak_start = None
    # last iteration
    elif (mini_df.datetime_utc[-1] == df.datetime_utc[-1]) \
      & (streak_start is not None) & (refocus is not None):
      streak[mini_df.index[-1]] = streak_start
    
  du.roll(df, df_size).apply(get_streak)
  return pd.to_datetime(streak)

In [608]:
print(focused_work_calculation2(sample_df.head(15), sample_collab_func, pfr=4, ipl=2, misa=1, mira=1))
sample_df.head(15)

2020-03-06 07:50:00                   NaT
2020-03-06 07:55:00                   NaT
2020-03-06 08:00:00                   NaT
2020-03-06 08:05:00                   NaT
2020-03-06 08:10:00                   NaT
2020-03-06 08:15:00                   NaT
2020-03-06 08:20:00                   NaT
2020-03-06 08:25:00                   NaT
2020-03-06 08:30:00                   NaT
2020-03-06 08:35:00   2020-03-06 08:30:00
2020-03-06 08:40:00                   NaT
2020-03-06 08:45:00                   NaT
2020-03-06 08:50:00                   NaT
2020-03-06 08:55:00                   NaT
2020-03-06 09:00:00                   NaT
dtype: datetime64[ns]

,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count,datetime_utc,focused_periods
2020-03-06 07:50:00,0,0,NaN,0,2020-03-06 07:50:00,NaT
2020-03-06 07:55:00,0,0,4921.0,1,2020-03-06 07:55:00,NaT
2020-03-06 08:00:00,0,0,NaN,0,2020-03-06 08:00:00,NaT
2020-03-06 08:05:00,0,0,NaN,0,2020-03-06 08:05:00,NaT
2020-03-06 08:10:00,0,2,NaN,0,2020-03-06 08:10:00,2020-03-06 08:00:00
2020-03-06 08:15:00,0,0,NaN,0,2020-03-06 08:15:00,NaT
2020-03-06 08:20:00,0,0,NaN,0,2020-03-06 08:20:00,NaT
2020-03-06 08:25:00,0,1,NaN,0,2020-03-06 08:25:00,NaT
2020-03-06 08:30:00,0,0,NaN,0,2020-03-06 08:30:00,NaT
2020-03-06 08:35:00,2,5,3974.0,1,2020-03-06 08:35:00,2020-03-06 08:15:00
2020-03-06 08:40:00,1,0,NaN,0,2020-03-06 08:40:00,NaT
2020-03-06 08:45:00,4,0,NaN,0,2020-03-06 08:45:00,NaT
2020-03-06 08:50:00,0,0,1251.0,1,2020-03-06 08:50:00,NaT
2020-03-06 08:55:00,2,0,NaN,0,2020-03-06 08:55:00,NaT
2020-03-06 09:00:00,0,1,NaN,0,2020-03-06 09:00:00,NaT

In [613]:
tiny_sample = sample_df.loc[
                (sample_df.index > pd.datetime(year=2020, month=3, day=6, hour=8, minute=0)) & 
                (sample_df.index < pd.datetime(year=2020, month=3, day=6, hour=11, minute=0))]
focused_work_calculation2(tiny_sample, sample_collab_func, pfr=4, ipl=2, misa=1, mira=1)

2020-03-06 08:05:00                   NaT
2020-03-06 08:10:00                   NaT
2020-03-06 08:15:00                   NaT
2020-03-06 08:20:00                   NaT
2020-03-06 08:25:00                   NaT
2020-03-06 08:30:00                   NaT
2020-03-06 08:35:00   2020-03-06 08:30:00
2020-03-06 08:40:00                   NaT
2020-03-06 08:45:00                   NaT
2020-03-06 08:50:00                   NaT
2020-03-06 08:55:00                   NaT
2020-03-06 09:00:00                   NaT
2020-03-06 09:05:00                   NaT
2020-03-06 09:10:00                   NaT
2020-03-06 09:15:00                   NaT
2020-03-06 09:20:00                   NaT
2020-03-06 09:25:00                   NaT
2020-03-06 09:30:00                   NaT
2020-03-06 09:35:00                   NaT
2020-03-06 09:40:00                   NaT
2020-03-06 09:45:00                   NaT
2020-03-06 09:50:00                   NaT
2020-03-06 09:55:00                   NaT
2020-03-06 10:00:00                   NaT
2020-03-06 10:05:00                   NaT
2020-03-06 10:10:00                   NaT
2020-03-06 10:15:00                   NaT
2020-03-06 10:20:00                   NaT
2020-03-06 10:25:00                   NaT
2020-03-06 10:30:00                   NaT
2020-03-06 10:35:00   2020-03-06 10:25:00
2020-03-06 10:40:00                   NaT
2020-03-06 10:45:00                   NaT
2020-03-06 10:50:00                   NaT
2020-03-06 10:55:00                   NaT
dtype: datetime64[ns]

In [615]:
tiny_sample

DatetimeIndex(['2020-03-06 08:05:00', '2020-03-06 08:10:00',
               '2020-03-06 08:15:00', '2020-03-06 08:20:00',
               '2020-03-06 08:25:00', '2020-03-06 08:30:00',
               '2020-03-06 08:35:00', '2020-03-06 08:40:00',
               '2020-03-06 08:45:00', '2020-03-06 08:50:00',
               '2020-03-06 08:55:00', '2020-03-06 09:00:00',
               '2020-03-06 09:05:00', '2020-03-06 09:10:00',
               '2020-03-06 09:15:00', '2020-03-06 09:20:00',
               '2020-03-06 09:25:00', '2020-03-06 09:30:00',
               '2020-03-06 09:35:00', '2020-03-06 09:40:00',
               '2020-03-06 09:45:00', '2020-03-06 09:50:00',
               '2020-03-06 09:55:00', '2020-03-06 10:00:00',
               '2020-03-06 10:05:00', '2020-03-06 10:10:00',
               '2020-03-06 10:15:00', '2020-03-06 10:20:00',
               '2020-03-06 10:25:00', '2020-03-06 10:30:00',
               '2020-03-06 10:35:00', '2020-03-06 10:40:00',
               '2020-03-06 10:45:00', '2020-03-06 10:50:00',
               '2020-03-06 10:55:00'],
              dtype='datetime64[ns]', freq=None)

In [581]:
tiny_sample.groupby(level=0)

In [563]:
stride?