In [1]:
import os, sys
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath('application/'))))

In [2]:
from application.models import User
from application.applied_science import data_utils as du
import datetime as dt
import pandas as pd
from application.models import ActivityReportRow

USING VARIABLE LOCAL

In [3]:
user = User.query.all()[-2]

In [4]:
user

User('lauriermantel','lauriermantel@gmail.com','default.jpg')

In [5]:
from application.applied_science.data_annotation import labelled_focus_time_df

In [6]:
start_datetime, end_datetime = du.current_user_week_limits(user)
hour_timezone_offset = user.timezone_offset_hours
date_filter = (ActivityReportRow.datetime_utc >= start_datetime) & (ActivityReportRow.datetime_utc < end_datetime)
user_filter = ActivityReportRow.user_id == user.id
activity_df = pd.read_sql(ActivityReportRow.query.filter(date_filter & user_filter) \
                          .order_by(ActivityReportRow.datetime_utc.asc()).statement, \
                          ActivityReportRow.query.session.bind)
activity_df.index = activity_df.datetime_utc
activity_df

,id,datetime_utc,user_id,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count
datetime_utc,,,,,,,
2020-02-23 05:00:00,164357,2020-02-23 05:00:00,12,0,0,None,0
2020-02-23 05:05:00,164358,2020-02-23 05:05:00,12,0,0,None,0
2020-02-23 05:10:00,164359,2020-02-23 05:10:00,12,0,0,None,0
2020-02-23 05:15:00,164360,2020-02-23 05:15:00,12,0,0,None,0
2020-02-23 05:20:00,164361,2020-02-23 05:20:00,12,0,0,None,0
...,...,...,...,...,...,...,...
2020-03-01 04:35:00,166368,2020-03-01 04:35:00,12,0,0,None,0
2020-03-01 04:40:00,166369,2020-03-01 04:40:00,12,0,0,None,0
2020-03-01 04:45:00,166370,2020-03-01 04:45:00,12,0,0,None,0
2020-03-01 04:50:00,166371,2020-03-01 04:50:00,12,0,0,None,0
2020-03-01 04:55:00,166372,2020-03-01 04:55:00,12,0,0,None,0

In [7]:
weekend_filter = du.workday_weekend_filter(activity_df, hour_timezone_offset=hour_timezone_offset, return_filter=True)
workday_filter = du.workday_time_filter(activity_df, hour_timezone_offset=hour_timezone_offset, return_filter=True)

In [8]:
activity_df.loc[workday_filter]

,id,datetime_utc,user_id,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count
datetime_utc,,,,,,,
2020-02-23 13:30:00,164459,2020-02-23 13:30:00,12,0,0,None,0
2020-02-23 13:35:00,164460,2020-02-23 13:35:00,12,0,0,None,0
2020-02-23 13:40:00,164461,2020-02-23 13:40:00,12,0,0,None,0
2020-02-23 13:45:00,164462,2020-02-23 13:45:00,12,0,0,None,0
2020-02-23 13:50:00,164463,2020-02-23 13:50:00,12,0,0,None,0
...,...,...,...,...,...,...,...
2020-02-29 22:05:00,166290,2020-02-29 22:05:00,12,0,0,None,0
2020-02-29 22:10:00,166291,2020-02-29 22:10:00,12,0,0,None,0
2020-02-29 22:15:00,166292,2020-02-29 22:15:00,12,0,0,None,0
2020-02-29 22:20:00,166293,2020-02-29 22:20:00,12,0,0,None,0
2020-02-29 22:25:00,166294,2020-02-29 22:25:00,12,0,0,None,0

In [16]:
activity_df.loc[((weekend_filter) & (workday_filter == False)) | (weekend_filter == False)]

,id,datetime_utc,user_id,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count
datetime_utc,,,,,,,
2020-02-23 05:00:00,164357,2020-02-23 05:00:00,12,0,0,None,0
2020-02-23 05:05:00,164358,2020-02-23 05:05:00,12,0,0,None,0
2020-02-23 05:10:00,164359,2020-02-23 05:10:00,12,0,0,None,0
2020-02-23 05:15:00,164360,2020-02-23 05:15:00,12,0,0,None,0
2020-02-23 05:20:00,164361,2020-02-23 05:20:00,12,0,0,None,0
...,...,...,...,...,...,...,...
2020-03-01 04:35:00,166368,2020-03-01 04:35:00,12,0,0,None,0
2020-03-01 04:40:00,166369,2020-03-01 04:40:00,12,0,0,None,0
2020-03-01 04:45:00,166370,2020-03-01 04:45:00,12,0,0,None,0
2020-03-01 04:50:00,166371,2020-03-01 04:50:00,12,0,0,None,0
2020-03-01 04:55:00,166372,2020-03-01 04:55:00,12,0,0,None,0

In [130]:
start_time_utc

datetime.time(3, 30)

In [125]:
activity_df.index.time

array([datetime.time(5, 0), datetime.time(5, 5), datetime.time(5, 10),
       ..., datetime.time(4, 45), datetime.time(4, 50),
       datetime.time(4, 55)], dtype=object)

In [81]:
activity_df.loc[workday_filter]

,id,datetime_utc,user_id,slack_conversation_read_count,slack_user_event_count,google_calendar_event_id,google_calendar_event_count
datetime_utc,,,,,,,
2020-02-23 05:00:00,164357,2020-02-23 05:00:00,12,0,0,None,0
2020-02-23 05:05:00,164358,2020-02-23 05:05:00,12,0,0,None,0
2020-02-23 05:10:00,164359,2020-02-23 05:10:00,12,0,0,None,0
2020-02-23 05:15:00,164360,2020-02-23 05:15:00,12,0,0,None,0
2020-02-23 05:20:00,164361,2020-02-23 05:20:00,12,0,0,None,0
...,...,...,...,...,...,...,...
2020-03-01 04:35:00,166368,2020-03-01 04:35:00,12,0,0,None,0
2020-03-01 04:40:00,166369,2020-03-01 04:40:00,12,0,0,None,0
2020-03-01 04:45:00,166370,2020-03-01 04:45:00,12,0,0,None,0
2020-03-01 04:50:00,166371,2020-03-01 04:50:00,12,0,0,None,0
2020-03-01 04:55:00,166372,2020-03-01 04:55:00,12,0,0,None,0